@import "abstracts/variables.scss";
@import "abstracts/function.scss";
@import "abstracts/mixins.scss";
@import "abstracts/label.scss";

@import "base/animations.scss";
@import "base/base.scss";
@import "base/typography.scss";
@import "base/utilities.scss";

@import "components/button.scss";
@import "components/deptdropdown.scss";
@import "components/modal.scss";

@import "layout/section.scss";
@import "layout/content.scss";
@import "layout/header.scss";
@import "layout/navbar.scss";

@import "pages/login.scss";
@import "pages/register1.scss";
@import "pages/register2.scss";
@import "pages/home.scss";
@import "pages/allteachers.scss";
@import "pages/assignclass.scss";
@import "pages/personalpage.scss";
@import "pages/assignsubject.scss";
@import "pages/addstudent.scss";
@import "pages/studentbatch.scss";
@import "pages/attendance.scss";
@import "pages/dayattendance.scss";
