*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    height:90vh;
    /*width:40vw;*/
   background:linear-gradient(to right,lightblue,rgb(201, 197, 197));
   font-family:lato;
   

}
.container{
    background-color: white;
    position:absolute;
    top:50%;
   left:50%;
   transform:translate(-45%,-50%);
   border:0px solid rgba(199, 197, 197, 0.644);
    background-color:white;
    /*width:28%;*/
    width: 30vw;
    height:75%;
   
    box-shadow:3px 3px 10px rgb(94, 87, 87);
    border-radius:10px;
}
.logo{
     width:40%;
     height:20%;
     
}
.container__logo{
    text-align:center;
    
}
.container__forgotpassword{
    text-align:center;
    margin-top:5%;
    margin-bottom:3%;
    font-weight:bold;
    font-size:150%;
    text-transform:capitalize;
}
.container__para{
    text-align:center;
    margin-bottom: 5%;
    font-weight:20%;
    position:relative;
    margin-bottom:12%;
}
span.link{
    position:absolute;
    left:45%;
    
    
}
.email__text{
    margin-left:7.5%;
    margin-bottom:5px;
    font-weight:bold;
    
}
.email{
    width:80%;
    height:5%;
    margin-left:7%;
    margin-bottom:7%;
    place-content: none;
    border:0px solid white;
    box-shadow: 3px 3px 3px rgb(223, 222, 222);
}
.container__button{
    text-align:center;
    margin-bottom:6%;
    
}
.resetpassword{
   padding:3%;
   text-transform:capitalize;
   color:white;
   background-color: blue;
   border:0px solid;
   
    
}
.resetpassword:active{
    transform:translateY(5%);
}
.container__login{
    width: 100%;
    font-size:100%;
    height:20%;
    text-align:center;
}
.container__login__text{
    height: 100%;
}
a{
    text-decoration: none;
    color:blue;
}