.head{
    text-align:center;
    text-transform: uppercase;
    padding:2rem;
    font-size:20px;
    font-weight: 600;
}


.marks-entry{
    display:flex;
    flex-direction: column;

    &__table{
        display:flex;
        flex-direction: row;
        flex-direction:row;
        justify-content: space-between;
        padding:2rem;
        margin-bottom:.5rem;
        
    }
    &__extra{
        display:flex;
        justify-content: center;
    }
    &__tc{
        &:not(:last-child){
            margin-right:.2rem;   
        }
        &_border{
            border:1px solid black;
        }
    }

    &__td{
        border:1px solid black;
        text-align:center;
        margin-bottom:.2rem;
       &_1{
        padding: 0 1rem .6rem 1rem;
       }
       &_2{
        padding: .2rem 1rem .4rem 1rem;
       }
       &_none{
            border:none;
       }
     
    }
}
.number{
    width:4rem;
    background-color: transparent;
    border:none;
  &__1{
    border:1px solid black;
    margin-bottom:1rem;
  }
   
}
.extra__item{
    border:1px solid black;
    flex:0 0 45%;
    text-align:center;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding:1rem;
    &:not(:last-child){
    margin-right:2rem;}
}

.item__heading{
    text-transform: uppercase;
    font-size:1rem;
    font-weight:600;
    padding:1rem;
}

.item__sub-heading{
    text-transform: uppercase;
    font-weight:500;
}


.submit__marks{
    display:block;
    border:none;
    color: #FFF;
    background-color: #1dd31d;
    text-transform: uppercase;
    font-weight: 600;
    padding:.5rem;
   
    margin-top:1rem;
    width:8rem;
    transition:all .2s;
   align-self:center;

   &:focus{
       outline: none;
       transform:translatey(.2rem);
   }
}