.border {
  border: 1px solid $color-border;
}
.padding1 {
  padding: 1rem;
}
.fontlight {
  font-weight: 600;
  opacity: 0.5;
}
.fontheavy {
  font-weight: 600;
}
.marginbottom06 {
  margin-bottom: 0.6rem;
}
.marginbottom08 {
  margin-bottom: 0.8rem;
}
.marginbottom04 {
  margin-bottom: 0.4rem;
}
.marginbottom02 {
  margin-bottom: 0.2rem;
}
.marginleft10 {
  margin-left: 10rem;
}
.marginleft9 {
  margin-left: 9rem;
}
.marginleft8 {
  margin-left: 8rem;
}
.marginleft7 {
  margin-left: 7rem;
}
.marginleft74 {
  margin-left: 7.4rem;
}
.marginleft6 {
  margin-left: 6rem;
}
.marginleft5 {
  margin-left: 5rem;
}
.marginleft4 {
  margin-left: 4rem;
}
.marginleft3 {
  margin-left: 3rem;
}
.marginleft33 {
  margin-left: 3.3rem;
}
.marginleft2 {
  margin-left: 2rem;
}
.marginleft1 {
  margin-left: 1rem;
}
.displayflexcol {
  display: flex;
  flex-direction: column;
}
