.ia-content{
    padding:2rem 2rem 3rem 2rem;
   
}
.ia-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  
    &__dropdown{
        display:flex;
        flex-wrap:wrap;
        padding:2rem 3rem 0rem 11rem;
        @media(max-width: 600px){
            padding:2rem 3rem 0rem 5rem;
        }
        justify-content:center;
        
        border: 1px solid black;
        margin-bottom: 4rem;
         background-color: #fff;
            }

    &__table{
      //  border:1px solid black;
      //  padding:3rem;
        background-color: #fff;
    }
}
