.assignclass{
    display: grid;
    grid-template-columns: 1fr;                     //Per year 1 column,Only 1 row for that semister(1row for 2nd sem,1row for 4th sem)
    grid-gap: 2rem;
    &__selectclass{
        margin: 0 auto ;
        display: flex;
        width: 50%;
        justify-content: space-between;
       // background-color:red
    }
    &__selectdept{
        width: 10rem;
        .dept{
            width: 100%;
            padding: 0.3rem;
            border-radius: 10px;
            border:1px solid rgb(207, 207, 207);
        }
    }
    &__selectyear{
        width: 10rem;
        .year{
            width: 100%;
            padding: 0.3rem;
            border-radius: 10px;
            border:1px solid rgb(207, 207, 207);
        }
    }
    &__selectsection{
        width: 10rem;
        .section{
            width: 100%;
            padding: 0.3rem;
            border-radius: 10px;
            border:1px solid rgb(207, 207, 207);
        }
    }
    &__2{                                           //Holds styling for 2nd sem class teachers
        display: grid;
        grid-template-columns: 1fr 1fr;             //Per semister 2 columns, pics 2 teachers for section A and B
        justify-items: center;
        text-align: center;
        &__a{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px;
        }
        &__b{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px;
        }
       
    }
    &__4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        &__a{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px;
        }
        &__b{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px;
        }
    }
    &__6{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        &__a{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px;
        }
        &__b{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid rgb(207, 207, 207);
            padding: 3rem 4rem;
            position: relative;
            border-radius: 5px; 
        }
    }
    &__add{
        padding: 1rem 2rem;
        &__pic
        {
            margin: auto;
            height: 4rem;
            width: 4rem;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
        &__text{
            margin-top: 1rem;
        }
    }
    &__addshownone                  //Used to hide the plus button
    {
        display: none;
    }
    &__dots{                        //Used to remove teachers
        position: absolute;
        top:10px;
        right: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    &__teacher-pic{
        display: none;              //By default,hide the picture of teachers
    }
    &__teacher-img{                 //Parent container of the teachers's picture
        border-radius: 50%;
        margin-top: -1rem;
        &:hover{
            cursor: pointer;
        }
    }
    &__picshow{                     //Used to show the picture of teacher when the plus sign is clicked
        display: block;
    }
    &__teacherdetails{
        display: none;              //By default,hide the details of teachers
        margin-left: 3rem;
    }
    &__detailshow                   //Used to show teacher details when plus sign is clicked
    {
        display: block;
    }
    &__teachername{
        margin: 0.4rem 0;
        &:hover{
            cursor: pointer;
        }
    }
    &__teacherid{
        margin: 0.4rem 0;
        &:hover{
            cursor: pointer;
        }
    }
    &__teacherclass{
        margin: 0.4rem 0;
    }
}