.studentbatch{
    padding: 1rem 3rem;
    &__add{
        display: flex;
        justify-content: space-around;
        &__batch{
            &__btn{
                padding: 0.6rem 1rem;
            }
        }
        &__form{
           .formcommon{
               display: flex;
               flex-direction: column;
               margin-top: 1rem;
           }
           .inputcommon{
               border-radius: 10px;
               border: 1px solid rgb(207, 207, 207);
               padding: 0.4rem;
           }
        }
    }
    &__details{
        padding: 1rem;
        &__heading{
            text-align: center;
            font-size: 25px;
            font-weight: 600;
        }
        &__batch{
            padding: 1rem;
        }
        &__tablehead{
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 1rem;
        }
        &__student{
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 0.5rem;
            
        }
    }
}