.label{
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
    color:rgba(0,0,0,0.6);
}
.deptlabel{
    font-weight: 600;
    color:rgba(0,0,0,0.6);
}
.typelabel{
    font-weight: 600;
    color:rgba(0,0,0,0.6);
}