
$color-border: rgb(207, 207, 207);
$color-bluelight: rgb(127, 172, 231);
$color-bluedark: rgb(74, 86, 245);
$color-register: rgb(247, 247, 247);
$color-border: rgb(207, 207, 207);
$color-hover: rgb(199, 198, 198);
$color-listhover: rgb(0, 0, 0);

.color-bluedarker {
  color: $color-bluedark;
}
 